# ========================================================
# DATOS ORIGINALES DE M5
# ========================================================

data/raw/*
!data/raw/calendar.csv


# ========================================================
# DATOS PROCESADOS PESADOS / INTERMEDIOS
# ========================================================

data/processed/train_ml.csv


# ========================================================
# NOTEBOOKS NO NECESARIOS PARA EL REPOSITORIO
# ========================================================

notebooks/*
!notebooks/03_modelos_finales.ipynb


# ========================================================
# CONFIGURACIÓN LOCAL DE VS CODE
# ========================================================

.vscode/


# ========================================================
# ARCHIVOS DE PYTHON / ENTORNOS
# ========================================================

__pycache__/
*.py[cod]
.ipynb_checkpoints/

.venv/
venv/
env/


# ========================================================
# CONFIGURACIÓN NO NECESARIA DEL PROYECTO
# ========================================================

pyproject.toml


# ========================================================
# ARCHIVOS DEL SISTEMA
# ========================================================

.DS_Store
Thumbs.db